/* ++++++++ Для дисплеев с минимальной шириной: 600px ++++++++ */
@media only screen and (min-width: 600px){

* { /* Для правильной работы с элементами на одной линии шириной 50% */
    box-sizing: border-box;
}

/* Установка и подключение шрифта */
@font-face {
    font-family: SFProDisplay; /* Гарнитура шрифта */
    src: url(fonts/SFProDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
}

/* Настройка основных тэгов */
body{
    color: rgb(80, 80, 80);
    margin: 0;
    font-family: SFProDisplay, 'Arial', cursive;
    cursor: url(cur/Arrow.cur), default; 
    transition: background-color 0.5s linear;
}
button{
    width: 150px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: none;
}
button:focus{
    outline: none;
}
footer{
    width: 100%;
}

/* ================================ ШАПКА ================================ */
.header {
    width: 100%;
    max-width: 1280px;
}
/* Блок с логотипом и названием */
.logoname{
    height: 70px;
    padding-top: 10px;
    transition: background-color 0.5s linear;
}
.logo{
    fill: darkorchid;
    stroke: darkorchid;
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: url(cur/Hand.cur), pointer;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition:  stroke, fill, transform 1s ease-in-out;
}
.logo:hover {
    fill: rgba(80, 80, 80, 0.3);
    stroke: rgba(80, 80, 80);
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.name{
    margin: 0;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
}

/* Блок с главными кнопками */
.mainbuttons{
    display:flex;
    background-color: rgb(250, 250, 250);
    border: 1px solid  rgb(212, 212, 212);
    height: 70px;
    box-shadow: inset 0 -0.5px 0 rgba(100,100,100,0.1);
    justify-content: space-between;
}
.button-key{
    color: darkorchid;
    font-size: 20px;
    margin-top: 15px;
    border: 1px solid rgb(212, 212, 212);
    cursor: url(cur/Hand.cur), pointer;
    margin-left: 30px;
}
.button-key:hover{
    color: white;
    background-color: darkorchid;
    border: 1px solid darkorchid;
    transition: 0.5s;
}
.button-clipboard{
    font-size: 20px;
    color: rgb(80, 80, 80);
    margin-top: 15px;
    border: 1px solid rgb(212, 212, 212);
    cursor: url(cur/Hand.cur), pointer;
    margin-right: 30px;
}

.button-clipboard:hover{
    color: white;
    background-color: rgb(112, 112, 112);
    border: 1px solid rgb(112, 112, 112);
    transition: 0.5s;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ================================ ОСНОВНАЯ ЧАСТЬ ================================ */
.main {
    width: 100%;
    max-width: 1280px;
    border: 1px solid  rgb(212, 212, 212);
}
/* Блок с названиями текстовых полей */
.textareas-titles{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.areaTitle1{
    width: 50%;
    font-weight: normal;
    color: darkorchid;
    text-align: center;
}
.button-swapareas{
    fill: rgb(112, 112, 112);
    transition: fill 0.3s linear;
    cursor: url(cur/Hand.cur), pointer;
    width: 50px;
}
.button-swapareas:hover{
    fill: darkorchid;
}
.areaTitle2{
    width: 50%;
    font-weight: normal;
    text-align: center;
}
/* Блок с текстовыми полями */
.textareas{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}
.textarea-left{
    cursor: url(cur/IBeam.cur), text;
    width: 50%;
    padding-bottom: 20%;
    transition: background-color 0.5s linear;
    resize: none;
    font-family: SFProDisplay, 'Comic Sans MS', cursive;
    font-weight: normal;
    font-size: 25px;
    border: 1px solid rgb(212, 212, 212);
    border-top: 3px solid darkorchid;
    box-shadow: 0 3px 0 rgba(50,50,50,0.1);
    display: inline-block;
}
.textarea-left:focus{
    outline: 1px solid darkorchid;
}
.textarea-right{
    width: 50%;
    padding-bottom: 20.12%;
    background-color: rgb(242, 242, 242);
    transition: background-color 0.5s linear;
    font-weight: normal;
    resize: none;
    font-family: SFProDisplay, 'Comic Sans MS', cursive;
    font-size: 25px;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 0 3px 0 rgba(50,50,50,0.1);
    display: inline-block;
    cursor: url(cur/Arrow.cur), default; 
}

/* ================================ ПОДВАЛ ================================ */
.footer {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-developer{
    cursor: url(cur/Hand.cur), pointer;
    margin-right: 40px;
    text-decoration: none;
    color: rgb(180,180,180);
}
.link-developer:hover{
    color: rgb(90,90,90);
    transition: 0.5s;
}
.hints{
    list-style-type: none;
    color: rgb(120,120,120);
}
}

/* ++++++++ Для дисплеев с максимальной шириной: 600px ++++++++ */
@media only screen and (max-width: 600px){
@font-face {
    font-family: SFProDisplay; /* Гарнитура шрифта */
    src: url(fonts/SFProDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
   }
/* Настройка основных тэгов */
body{
    color: rgb(80, 80, 80);
    margin: 0;
    font-family: SFProDisplay, 'Arial', cursive;
    cursor: url(cur/Arrow.cur), default;
    transition: background-color 0.5s linear;
}
button{
    background-color: white;
    border-radius: 10px;
    box-shadow: none;
}
button:focus{
    outline: none;
}

/* ================================ ШАПКА ================================ */
/* Блок с логотипом и названием */
.logoname{
    padding-bottom: 5px;
    transition: background-color 0.5s linear;
}
.logo{
    fill: darkorchid;
    stroke: darkorchid;
    transition: stroke, fill 1s linear;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-top:2%;
    border: none;
    cursor: url(cur/Hand.cur), pointer;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition:  stroke, fill, transform 1s ease-in-out;
}
.logo:hover {
    fill: rgba(80, 80, 80, 0.3);
    stroke: rgba(80, 80, 80);
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.name{
    display: none;
}
/* Блок с главными кнопками */
.mainbuttons{
    height: 40px;
    padding-bottom: 20px;
}
.button-key{
    color: darkorchid;
    font-size: 4.2vw;
    margin-top: 15px;
    margin-left: 20px;
    border: 1px solid rgb(212, 212, 212);
    width: 30%;
    height: 40px;
    cursor: url(cur/Hand.cur), pointer;
}
.button-key:hover{
    color: white;
    background-color: darkorchid;
    border: 1px solid darkorchid;
    transition: 0.5s;
}
.button-clipboard{
    font-size: 4.2vw;
    color: rgb(80, 80, 80);
    margin-top: 15px;
    float:right;
    margin-right: 20px;
    border: 1px solid rgb(212, 212, 212);
    width: 30%;
    height: 40px;
    cursor: url(cur/Hand.cur), pointer;
}
.button-clipboard:hover{
    color: white;
    background-color: rgb(112, 112, 112);
    border: 1px solid rgb(112, 112, 112);
    transition: 0.5s;
}
.button-swapareas{
    fill: rgb(112, 112, 112);
    transition: fill 0.3s linear;
    margin: 0 auto;
    display: block;
    margin-top: 3%;
    width: 45px;
    height: 45px;
    cursor: url(cur/Hand.cur), pointer;
}
.button-swapareas:hover{
    fill: darkorchid;
}

/* ================================ ОСНОВНАЯ ЧАСТЬ ================================ */
/* Блок с названиями текстовых полей */
.textareas-titles{
    padding-bottom: 20px;
}
.areaTitle1{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-weight: normal;
    color: rgb(80, 80, 80);
    font-size: 4.2vw;
}
.areaTitle2{
    font-size: 141%;
    margin: 0 auto;
    padding: 0;
    margin-top: 40%;
    display: none;
    text-align: center;
    font-weight: normal;
    
}
/* Блок с текстовыми полями */
.textarea-left{
    cursor: url(cur/IBeam.cur), text;
    width: 90%;
    padding-bottom: 15%;
    resize: none;
    font-family: SFProDisplay, 'Comic Sans MS', cursive;
    font-size: 4.2vw;
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(212, 212, 212);
    border-top: 3px solid rgb(186, 115, 221);
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    transition: background-color 0.5s linear;
}
.textarea-left:focus{
    outline: none;
}
.textarea-right{
    cursor: url(cur/IBeam.cur), text;
    width: 90%;
    padding-bottom: 15%;
    font-family: SFProDisplay, 'Comic Sans MS', cursive;
    resize: none;
    background-color: rgb(232, 232, 232);
    font-size: 4.2vw;
    border: 1px solid rgb(212, 212, 212);
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    border-radius: 10px;
    transition: background-color 0.5s linear;
}

/* ================================ ПОДВАЛ ================================ */
.link-developer{
    cursor: url(cur/Hand.cur), pointer;
    float: right;
    margin-right: 40px;
    text-decoration: none;
    color: rgb(180,180,180);
}
.link-developer:hover{
    color: rgb(90,90,90);
    transition: 0.5s;
}
.hints{
    list-style-type: none;
    color: rgb(120,120,120);
}
}